body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-links div a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #03a7ff;
}

.language-section {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.language-card {
   
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s;
}

.language-card:hover {
    
    transform: scale(1.05);
}

.language-card h2 {
    
    color: #5420ff;
}

.footer-links {
    text-align: center;
    padding: 15px;
}

.footer-links a {
    color: #4CAF50;
    text-decoration: none;
    margin: 0 10px;
}

footer {
    margin-top: 170px;
    text-align: center;
    padding: 10px 0;
    background: #000000;
    color: #fff;
    position:relative;
    bottom: 0;
    width: 100%;
}

.button {
    background: #005eff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
    cursor: pointer;
}

